<%- include('../partials/header.ejs') %>

<header>
  <h2>Edit Class</h2>
</header>

<div id="form">

  <form id="classForm" action="/classes/<%= classItem._id %>?_method=PUT" method="POST">

    <div class="formgroup">
      <label for="name">Class name</label>
      <input class="newInputs" type="text" name="name" value="<%= classItem.name %>" placeholder="Class Name" required>
    </div>
    <br>

    <div class="formgroup">
      <label for="description">Description</label>
      <textarea name="description" placeholder="Class description" cols="160" rows="5" required><%= classItem.description %></textarea>
    </div>
    <br>

    <div class="formgroup date">
      <div class="startDate">
        <label for="startDate">Start Date</label>
        <%
          let startDate = new Date(classItem.startDate)
          startDate = startDate.toISOString().split('T')[0];
          let endDate = new Date(classItem.endDate)
          endDate = endDate.toISOString().split('T')[0];
        %>
        <input type="date" name="startDate" value="<%= startDate %>" required>
      </div>
      <div class="endDate">
        <label for="endDate">End Date</label>
        <input type="date" name="endDate" value="<%= endDate %>" required>
      </div>
    </div>
    <br>

    <div class="formgroup">
      <label for="grade">grade</label>
      <% const grades = ['Primary', 'Intermediate', 'Secondary'] %>
      <select class="newInputs" name="grade" required>
        <% grades.forEach((grade) => { 
          if (grade === classItem.grade) { %>
            <option value="<%= grade %>" selected><%= grade %></option>
          <% } else { %>
            <option value="<%= grade %>"><%= grade %></option>
          <% }
        }) %>
        </select>
    </div>
    <br>

    <div class="viewBtn">
      <button id="submit" type="submit">Edit Class</button>
      <a href="/classes/myclasses" class="editLink">Back</a>
    </div>
  </form>
</div>

<%- include('../partials/footer.ejs') %>