<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<% if(classFilter == '/classes') { %>
  <ul class="class-items">
    <h2><%= title %></h2>
      <% allClasses.forEach((classDetails) => { %>
        <li class="item">
          <div class="task">
            <div class="icon">
              <img src="/images/<%= classDetails.image %>" alt="">
            </div>
            <div class="task-content">
              <div class="name">
                <%= classDetails.name %> - T. <%= classDetails.teacher.name %>
              </div>
					    <div class="description">
                <%= classDetails.description %>
              </div>
              <div class="rating">
                <p>
                  <% 
                  let classReview = classReviews.find((review) =>
                  review._id.equals(classDetails._id))
                  classReview = classReview ? classReview.avgRating : null
      
                  if (classReview !== null) {
                    for (let i = 1; i <= 5; i++) {  
                      if (i <= classReview) { %>
                        <span class="fa fa-star checked"></span>
                    <% } else { %>
                      <span class="fa fa-star"></span>
                    <% }}      
                  } %> 
                </p>
              </div>
            </div>
          </div>
          
          <div class="viewBtn">
            <% if(user && user.role == 'student' && !classDetails.student.includes(user._id.toString())){ %>
              <form method="POST" action="/users/<%= classDetails._id %>/enroll">
                <button class="view" type="submit">Enroll</button>
              </form>
            <% } %>
            <form method="GET" action="/classes/<%= classDetails._id %>">
              <button class="view" type="submit">View</button>
            </form>
          </div>
        </li>
      <% }) %>
  </ul>
  
  <% } else if (classFilter == '/classes/myclasses') { %>
    <ul class="class-items">
      <div class="myClass-header">
        <h2><%= title %></h2>
        <% if(user && user.role == 'teacher'){ %>
          <a class="createLink" href="/classes/new">Create Class</a>
        <% } %>
      </div>

      <% allClasses.forEach((classDetails) => { %>
        <% if((user.role == 'teacher' && classDetails.teacher._id.toString() == (user._id.toString()))) { %>
        <li class="item">
          <div class="task">
            <div class="icon">
              <img src="/images/<%= classDetails.image %>" alt="">
            </div>
            <div class="task-content">
              <div class="name">
                <%= classDetails.name %>
              </div>
              <div class="description">
                <%= classDetails.description %>
              </div>
              <div class="rating">
                <p>
                  <% 
                  let classReview = classReviews.find((review) =>
                  review._id.equals(classDetails._id))
                  classReview = classReview ? classReview.avgRating : null
      
                  if (classReview !== null) {
                    for (let i = 1; i <= 5; i++) {  
                      if (i <= classReview) { %>
                        <span class="fa fa-star checked"></span>
                    <% } else { %>
                      <span class="fa fa-star"></span>
                    <% }}      
                  } %> 
                </p>
              </div>
            </div>
          </div>
            <div class="viewBtn">
              <form method="GET" action="/classes/<%= classDetails._id %>">
                <button class="view" type="submit">View</button>
              </form>
              <form action="/classes/<%= classDetails._id %>/edit" method="GET">
                <button class="view edit" type="submit">Edit</button>
              </form>
              <form action="./myclasses/<%= classDetails._id %>?_method=DELETE"  method="POST">
                <button class="view delete" type="submit" >Delete</button>
              </form>
            
            </div>
            </li>
        <% } else if((user.role == 'student' && classDetails.student.includes(user._id.toString()))) { %>
          <li class="item">
            <div class="task">
              <div class="icon">
                <img src="/images/<%= classDetails.image %>" alt="">
              </div>
              <div class="task-content">
                <div class="name">
                  <%= classDetails.name %>
                </div>

                <div class="description" >
                  <%= classDetails.description %>
                </div>

                <div class="rating">
                <p>
                  <% 
                  let classReview = classReviews.find((review) =>
                  review._id.equals(classDetails._id))
                  classReview = classReview ? classReview.avgRating : null
      
                  if (classReview !== null) {
                    for (let i = 1; i <= 5; i++) {  
                      if (i <= classReview) { %>
                        <span class="fa fa-star checked"></span>
                    <% } else { %>
                      <span class="fa fa-star"></span>
                    <% }}      
                  } %> 
                </p>
              </div>

              </div>
            </div>
  
              <div class="viewBtn">
                <form method="GET" action="/classes/<%= classDetails._id %>">
                  <button class="view" type="submit" style="background-color: green;">View</button>
                </form>
              </div>
              </li>
        <% }}) %>
  </ul>
<% } %>
<%- include('../partials/footer.ejs') %>
