<%- include('../partials/header.ejs') %>

<h2>All Classes</h2>

<% allClasses.forEach((classDetails) => { %>
<ol>
  <li> <%= classDetails.name %></li>
  <li> <%= classDetails.description %></li>
  <a href="/classes/<%= classDetails._id %>">View</a>
  
  <% if(studentRole == 'student'){ %>
    <a href="/classes/<%= classDetails._id %>">Enroll</a>
  <% } %>
</ol>
<% }) %>

<%- include('../partials/footer.ejs') %>