<%- include('../partials/header.ejs') %>
  <%- include('../partials/navbar.ejs') %>
    <main id="show-class">
      <section class="class-info">
        <h1>
          <%= classItem.name %>
            </h2>
            <h3>
              <%= classItem.teacher.name %>
            </h3>
            <p>
              <%= classItem.description %>
            </p>
            <p>
              <%= classItem.startDate %> - <%= classItem.endDate %>
            </p>
            <p>
              <%= classItem.grade %>
            </p>
            <% if(user.role==="student" ) { %>
          <p>
            <a href="/classes/<%= classItem._id %>/reviews">Review</a>
          </p>
          <% } %>
            <% if(user.role==="teacher" ) { %>
              <p>
                <a href="/classes/<%= classItem._id %>/newPost">New Post</a>
              </p>
              <% } %>
      </section>
      <div class="postsList">
        <h2>Posts</h2>
        <% if(classItem.posts) { %>
          <% classItem.posts.forEach(value=> { %>
            <h4>
              <%= value.heading %>
            </h4>
            <p>
              <%= value.message %>
            </p>
            <% });%>
              <% } %>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>