<%- include('./partials/header') %>
<body>
    <div class="wrapContent">
        <nav class="homeNav">
            <div class="navigationBtn">
                <a href="/" class="btn">Home</a> |
                <a href="/classes" class="btn">All Classes</a> |
                <% if (user) { %>
                    <a href="/classes/myclasses" class="btn">My classes</a> |
                    <a class="loginBtn btn" href="/logout">LOG OUT</a>
                <% } else { %>
                    <a class="loginBtn btn" href="/auth/google">LOG IN</a>
                <% } %>
            </div>
            <div><a href="/"><img class="logoNav" src="../images/eduhubLogo.png" alt=""></a></div>
        </nav>
        <div class="grid">
            <div class="motto">
                <h1 class="slogan">Education for Everyone</h1>
                <h4 class="slogan">Accessable from Everywhere</h4>
            </div>
        </div>
    </div>

    <div id="flexy">
        <div class="wrapClasses">
            <h2>Our Featured Classes</h2>
            <div class="gridClasses">
                <% featuredClasses.forEach((classItem) => { %>
                    <div class="classImg">
                        <p><%= classItem.name %></p>
                        <img src="/images/<%= classItem.image %>" alt="">
                        <a href="/classes/<%= classItem._id %>" class="btn">View More</a>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>