<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
    <div class="grid">
        <section class="headerImg">
        </section>
    </div>

    <div id="flexy">
        <div class="wrapClasses">
            <% if (featuredClasses.length) { %>
                <h2>Our Featured Classes</h2>
                <div class="gridClasses">
                    <% featuredClasses.forEach((classItem) => { %>
                        <div class="classImg">
                            <p><%= classItem.name %></p>
                            <img src="/images/<%= classItem.image %>" alt="">
                            <br></br>
                            <a href="/classes/<%= classItem._id %>" class="">View More</a>
                        </div>
                    <% }) %>
                </div>
            <% } %>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>